.container{
    border: solid 1px;
    text-align: center;
}
.container div{
    padding: 20px;
    
}
input{
    width: 60%;
    height: 40px;
    border-radius: 10px;
}

#createTask{

    padding: 10px;
    border-radius: 10px;
    
}

.btnActions{
    padding: 10px;
    border-radius: 10px;
}

.taskList{
 
    display: flex;
    flex-direction: column;

}

.tasks{
    border: solid 1px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

span{
    padding-right: 80%;

}

.tasks button{
    left: 30%;
}